@charset 'utf-8';
/* reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
picture,
footer,
header,
hgroup,
menu,
nav,
section,
svg,
a,
main {
  display: block;
}

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

table,
input,
textarea,
select,
option {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

*:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

a:focus:not(:link:active) {
  outline: -webkit-focus-ring-color auto 1px;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

button,
input,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  color: currentColor;
  font-family: "neue-haas-grotesk-text", "Hiragino Kaku Gothic Pro",
    "itc-benguiat-condensed", sans-serif;
}

figure,
picture {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

input {
  line-height: normal;
  border-radius: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: none;
  box-sizing: content-box;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #f7f5f0 inset !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
