/* variables
------------------------------------------------------------*/

$main-fonts: "neue-haas-grotesk-text", "Hiragino Kaku Gothic Pro",
  "itc-benguiat", sans-serif;

//color common
$main-bg-cl: #f7f5f0;
$main-text-cl: #000;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #d3d3d3;
