/* ---------------------------------- cart ---------------------------------- */

.c-cart {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1100;
  width: 100%;
  height: 100vh;
  pointer-events: none;

  &.is-open {
    .c-cart_container {
      visibility: visible;
      transform: translate(0);
      pointer-events: auto;
    }
  }

  .mt {
    margin-top: 40px;

    @include maxW(1024px) {
      margin-top: 35px;
    }
  }

  .border {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    @include maxW(1024px) {
      padding-bottom: 35px;
    }
  }

  &_container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $black-cl;
    color: $white-cl;
    width: 500px;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
      visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translate(100%);

    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include maxW(1024px) {
      width: 100%;
    }
  }

  &_inner {
    padding: 30px 25px 15px 45px;
    overflow: auto;
    height: 100%;
    position: relative;
    flex: 1 1 auto;

    @include customscroll();

    @include maxW(1024px) {
      padding: 23px 8px 15px 22px;
    }
  }

  &_top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.68;
      margin-bottom: 0;
    }

    @include maxW(1024px) {
      h2 {
        font-size: 1.6rem;
        line-height: 1.63;
      }
    }
  }

  &_close {
    width: 22px;
    height: 22px;

    &.is-open {
      span {
        width: 22px;
      }
    }

    @include maxW(1024px) {
      &.is-open {
        span {
          width: 16px;
        }
      }
    }
  }

  &_list {
    margin-top: 25px;

    @include maxW(1024px) {
      margin-top: 17px;
      padding-bottom: 0;
    }
  }

  &_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: initial;
    }

    @include maxW(1024px) {
      grid-template-columns: 47.7% 1fr;
      gap: 30px;
      margin-bottom: 35px;
    }

    &_img {
      width: 100%;
      height: 100%;
      padding: 30px;
      background-color: #efece5;
      aspect-ratio: 1/1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: multiply;
        pointer-events: none;
        aspect-ratio: 1/1;
      }

      @include maxW(1024px) {
        padding: 25px;
      }
    }

    &_info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .group {
        flex: 1 1 auto;
      }

      .product-name {
        font-size: 1.6rem;
        line-height: 1.6;
      }

      .product-brand {
        font-size: 1.4rem;
        line-height: 1.8;
        opacity: 0.5;
      }

      .product-meta {
        margin-top: 20px;

        table {
          width: 100%;

          th {
            width: 40%;
          }

          th,
          td {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.6;
            vertical-align: top;
            text-align: left;
          }
        }
      }

      .product-price {
        margin-top: 25px;
      }

      @include maxW(1024px) {
        .product-name {
          font-size: 1.4rem;
          line-height: 1.64;
        }

        .product-brand {
          font-size: 1.3rem;
          line-height: 1.62;
        }

        .product-meta {
          table {
            th,
            td {
              font-size: 1.3rem;
              line-height: 1.62;
            }

            th {
              width: 45%;
            }
          }
        }

        .product-price {
          margin-top: 18px;
        }
      }
    }

    &_qty {
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        background-color: transparent;
        border: 0;
        padding: 0;
        font-size: 1.4rem;
        line-height: 1.68;
        width: 42px;
        text-align: left;

        @include maxW(1024px) {
          font-size: 1.3rem;
          line-height: 1.62;
        }
      }

      button {
        width: 10px;
        height: 10px;
        position: relative;

        &:first-child {
          margin-right: 6px;
        }

        span {
          background-color: #808080;
          position: absolute;
          content: "";
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-90deg);
        }

        span:first-child {
          width: 2px;
          height: 10px;
        }

        span:nth-child(2) {
          width: 10px;
          height: 2px;
        }
      }

      @include maxW(1024px) {
        .control {
          padding-right: 10px;
        }
      }
    }
  }

  &_total {
    display: flex;
    justify-content: space-between;
  }

  &_price {
    h3,
    p {
      font-size: 1.6rem;
      font-weight: 500;
      display: inline-block;
    }

    span {
      font-size: 1.2rem;
    }

    @include maxW(1024px) {
      h3,
      p {
        font-size: 1.4rem;
      }

      span {
        font-size: 1.1rem;
      }
    }
  }

  &_checkout {
    padding: 30px 45px;
    flex: none;

    button {
      width: 100%;
      height: 60px;
      background-color: #f7f5ef;
      color: $black-cl;
      border: 0;
      font-size: 1.6rem;
      font-weight: 500;
    }

    @include maxW(1024px) {
      padding: 20px 22px;
      button {
        font-size: 1.4rem;
      }
    }
  }

  &_gift {
    position: relative;

    &_check {
      position: absolute;
      top: 3px;
      left: 0;

      input[type="checkbox"] {
        border: 1px solid $white-cl;
        border-radius: 0;
        cursor: pointer;
        line-height: 0;
        margin: 0;
        outline: 0;
        padding: 0 !important;
        height: 15px;
        width: 15px;
        display: block;
        vertical-align: text-top;
        -webkit-appearance: none;
        position: absolute;

        &:checked::before {
          opacity: 1;
        }

        &:before {
          content: "";
          position: absolute;
          right: 50%;
          top: 50%;
          width: 4px;
          height: 8px;
          border: solid $white-cl;
          border-width: 0 1px 1px 0;
          margin: -1px -1px 0 -1px;
          transform: rotate(45deg) translate(-50%, -50%);
          z-index: 2;
          opacity: 0;
        }

        @include maxW(1024px) {
          width: 12px;
          height: 12px;
        }
      }
    }

    &_notes {
      padding-left: 35px;
      font-weight: 400;

      h3 {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: -0.6px;
        line-height: 1.5;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.66;
        letter-spacing: -0.48px;
        opacity: 0.5;
      }

      @include maxW(1024px) {
        padding-left: 25px;

        h3 {
          font-size: 1.3rem;
          letter-spacing: -0.52px;
          margin-bottom: 5px;
        }

        p {
          font-size: 1.1rem;
          line-height: 1.68;
          letter-spacing: -0.44px;
        }
      }
    }
  }

  &_notes {
    h3 {
      font-size: 1.5rem;
      line-height: 1.5;
      font-weight: 400;
      margin-bottom: 10px;
    }

    textarea {
      width: 100%;
      height: 150px;
      margin: 0;
      padding: 2px 4px;
      border: 1px solid rgba($color: #f7f5ee, $alpha: 0.3);
      background-color: transparent;
      outline: none;
      box-sizing: border-box;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.4;
      color: $white-cl;
      position: relative;
      -webkit-appearance: none;
    }

    @include maxW(1024px) {
      h3 {
        font-size: 1.3rem;
        letter-spacing: -0.52px;
        margin-bottom: 12px;
      }

      textarea {
        font-size: 1.3rem;
      }
    }
  }

  &_delivery {
    h3 {
      font-size: 1.5rem;
      line-height: 1.66;
      font-weight: 400;
    }

    @include maxW(1024px) {
      h3 {
        font-size: 1.3rem;
        letter-spacing: -0.52px;
      }
    }
  }

  &_select {
    display: flex;
    align-items: center;

    p {
      width: 30%;
      font-size: 1.5rem;
      line-height: 1.55;
    }

    select {
      background: url(../img/arrow-down-white.webp) no-repeat center right transparent;
      background-size: 14px auto;
      color: $white-cl;
      font-size: 1.5rem;
      line-height: 1.55;
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      padding-right: 30px;
      box-sizing: border-box;
      -webkit-appearance: none;

      option {
        color: $black-cl;
      }
    }

    &_date {
      margin-top: 35px;
      margin-bottom: 5px;
    }

    @include maxW(1024px) {
      p,
      select {
        font-size: 1.3rem;
        letter-spacing: -0.52px;
      }

      select {
        background-size: 10px auto;
      }

      &_date {
        margin-top: 25px;
        margin-bottom: 10px;
      }
    }
  }
}
