/* --------------------------------- header --------------------------------- */
.c-header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  height: 110px;

  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black-cl;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }

  &.open-mega {
    &:after {
      opacity: 0.65;
    }
    .c-mega {
      &.is-header {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
    .c-header_left li {
      color: $black-cl !important;
      a,
      p {
        color: $black-cl !important;
      }
    }
    .c-header_right {
      color: $black-cl !important;
      li {
        a,
        p {
          color: $black-cl !important;
        }
      }
      .c-btnSearch {
        g,
        line {
          stroke: $black-cl !important;
        }
      }
      .c-btnMenu span {
        background-color: $black-cl !important;
      }
    }
    .c-header_logo.logo-white {
      opacity: 0 !important;
    }
    .c-header_logo.logo-black {
      opacity: 1 !important;
    }
  }

  &--white {
    .c-header_left li {
      color: $white-cl;

      a,
      p {
        color: $white-cl;
      }
    }
    .c-header_right {
      color: $white-cl;

      li {
        a,
        p {
          color: $white-cl;
        }
      }

      .c-btnSearch {
        g,
        line {
          stroke: $white-cl;
        }
      }

      .c-btnMenu span {
        background-color: $white-cl;
      }
    }
    .c-header_logo.logo-white {
      opacity: 1;
    }
    .c-header_logo.logo-black {
      opacity: 0;
    }
  }

  @include maxW(1024px) {
    height: 70px;
  }

  &_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0 50px;
    height: 100%;

    @include maxW(1024px) {
      padding: 0 22px;
    }
  }

  &_left,
  &_right {
    ul {
      display: flex;
      align-items: center;
      gap: 25px;

      li {
        font-size: 1.6rem;
        font-weight: 500;

        a,
        p {
          color: $black-cl;
          transition: color 0.3s ease-in;
        }
      }

      @include maxW(1024px) {
        gap: 20px;

        li {
          font-size: 1.4rem;
        }
      }
    }
  }

  &_right {
    margin-left: auto;
    position: relative;
    z-index: 10;

    ul {
      gap: 50px;
    }

    &_group {
      display: flex;
      align-items: center;
      gap: 25px;

      &-ico {
        gap: 35px;
      }
    }

    .c-btnSearch {
      g,
      line {
        transition: stroke 0.3s ease-in;
      }
    }

    @include maxW(1024px) {
      &_group {
        &-ico {
          gap: 20px;
        }
      }
    }
  }

  &_center {
    margin: 0 auto;
    position: relative;
  }

  &_logo {
    @include mid(false);

    &.logo-white {
      opacity: 0;
      padding-top: 30px;
    }

    @include maxW(1024px) {
      &.logo-white {
        padding-top: 25px;

        svg {
          width: auto;
          height: 60px;
        }
      }

      &.logo-black svg {
        width: 33px;
        height: auto;
      }
    }
  }
}
