/* ---------------------------------- menu ---------------------------------- */
.c-menu {
  &.is-open {
    .c-menu_wrapper {
      visibility: visible;
      transform: translate(0);
      pointer-events: auto;
    }
  }

  &_container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1010;
    width: 100%;
    height: 100vh;
    pointer-events: none;
  }

  &_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f7f5ef;
    color: $black-cl;
    width: 500px;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
      visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translate(100%);

    @include maxW(1024px) {
      width: 100%;
    }
  }

  &_inner {
    padding: 27px 50px 40px 60px;
    overflow: auto;
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 0;
    }

    @include maxW(1024px) {
      padding: 22px 22px 15px;
    }
  }

  &_top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;

    .group {
      display: flex;
      align-items: center;
      gap: 25px;

      &-ico {
        gap: 35px;
      }
    }

    p,
    a {
      font-size: 1.6rem;
      font-weight: 500;
    }

    @include maxW(1024px) {
      justify-content: space-between;
      gap: 20px;

      .group {
        gap: 17px;

        .order:first-child {
          order: 2;
        }

        .c-btnSearch {
          padding-right: 3px;
        }
      }

      p,
      a {
        font-size: 1.4rem;
      }
    }
  }

  &_drawer {
    margin-top: 58px;

    @include maxW(1024px) {
      margin-top: 65px;
    }
  }

  &_title {
    font-family: var(--itc-fonts);
    font-weight: 400;
    font-size: 4.2rem;
    letter-spacing: -1.68px;
    line-height: 1.1;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    width: fit-content;

    &:hover {
      opacity: 0.8;
    }

    @include maxW(1024px) {
      font-size: 3.2rem;
      letter-spacing: -1.28px;
    }
  }

  &_collapse {
    &_btn {
      display: flex;
      align-items: center;
      position: relative;
      width: fit-content;
      gap: 27px;
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.8;
      }

      &.open {
        .plus {
          &:before {
            opacity: 0;
          }

          &:before,
          &:after {
            transform: translate(-50%, -50%) rotate(90deg);
          }
        }
      }

      .plus {
        position: relative;
        width: 20px;

        &:before,
        &:after {
          position: absolute;
          content: "";
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-90deg);
          background-color: currentColor;
          transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        }

        &:before {
          width: 20px;
          height: 2px;
          opacity: 1;
        }

        &:after {
          width: 2px;
          height: 20px;
        }
      }

      @include maxW(1024px) {
        gap: 22px;

        .plus {
          width: 15px;

          &:before {
            width: 15px;
          }

          &:after {
            height: 15px;
          }
        }
      }
    }
  }

  &_panel {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &_list {
      margin: 22px 0 34px;

      @include maxW(1024px) {
        margin: 30px 0 35px;
      }
    }

    &_items {
      margin-bottom: 16px;

      .child {
        margin-top: 8px;
        font-size: 1.6rem;
        line-height: 1.6;
        font-weight: 500;
        opacity: 0.5;
        width: fit-content;
      }

      a.parent {
        font-size: 1.8rem;
        line-height: 1.67;
        font-weight: 500;
        width: fit-content;
      }

      @include maxW(1024px) {
        margin-bottom: 22px;

        .child {
          margin-top: 11px;
          font-size: 1.4rem;
          line-height: 1.6;
        }

        a.parent {
          font-size: 1.8rem;
          line-height: 1.6;
        }
      }
    }
  }

  &_linklist {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .social a {
      font-size: 1.6rem;
      line-height: 1;
      font-weight: 500;
      height: 21px;
      margin-bottom: 10px;
    }

    .policy a {
      font-family: var(--hira-fonts);
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: -0.26px;
      height: 21px;
      margin-bottom: 10px;
      margin-left: -6px;
    }

    @include maxW(1024px) {
      margin-top: 75px;
      display: block;

      .social a {
        font-size: 1.4rem;
        line-height: 1.5;
        height: auto;
        margin-bottom: 4px;
      }

      .policy {
        margin-top: 18px;
        a {
          font-size: 1.2rem;
          line-height: 1.5;
          height: auto;
          margin-bottom: 4px;
          margin-left: 1px;
        }
      }
    }
  }
}
.c-btnSearch {
  cursor: pointer;

  @include maxW(1024px) {
    svg {
      width: 14px;
      height: auto;
    }
  }
}

.c-btnMenu {
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 55px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &.is-white {
    span {
      background-color: $white-cl;
    }
  }

  span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-color: $black-cl;
    margin: 3px 0;
    transition: 0.3s ease-in;
  }

  &.is-open {
    span {
      margin: 0 auto;
      width: 42px;
    }

    span:nth-child(1) {
      transform: translateY(50%) rotate(45deg);
    }

    span:nth-child(2) {
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  @include maxW(1024px) {
    width: 25px;
    height: 25px;

    &.is-open {
      span {
        width: 20px;
      }
    }
  }
}
