/* ---------------------------- collections page ---------------------------- */

.collectionspage {
  .mb-head {
    padding-top: 15px;
    margin-bottom: 100px;

    @include maxW(1024px) {
      padding-top: 12px;
      margin-bottom: 50px;
    }
  }

  .collection {
    &_inner {
      padding-top: 210px;

      &.is-collection-brand {
        padding-top: 180px;
      }

      h2.heading {
        font-family: var(--itc-fonts);
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.67;
        letter-spacing: -2px;
        margin-bottom: 85px;
      }

      h3.title {
        font-size: 2rem;
        line-height: 1.68;
        font-weight: 500;
        margin-bottom: 4px;
      }

      @include maxW(1024px) {
        padding-top: 135px;

        &.is-collection-brand {
          padding-top: 100px;
        }

        h2.heading {
          font-size: 3.2rem;
          letter-spacing: -1.28px;
          margin-bottom: 55px;
        }

        h3.title {
          font-size: 1.6rem;
          line-height: 1.66;
          margin-bottom: 2px;
        }
      }
    }

    &_list {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 55px 20px;

      @include maxW(1024px) {
        margin-top: 25px;
        grid-template-columns: repeat(2, 1fr);
        gap: 22px 10px;
      }
    }

    &_mainvisual {
      width: 100%;
      height: 100vh;
      position: relative;
      overflow: hidden;

      &_bg {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &_content {
        width: 90%;
        position: absolute;
        bottom: 46px;
        z-index: 2;
        color: $white-cl;

        h2.title {
          font-family: var(--itc-fonts);
          font-weight: 400;
          font-size: 5rem;
          letter-spacing: -2px;
        }

        p.desc {
          margin-top: 23px;
          font-family: var(--hira-fonts);
          font-feature-settings: "palt" 1;
          font-weight: 400;
          font-size: 1.5rem;
          letter-spacing: -0.3px;
          line-height: 1.6;
        }

        .link {
          margin-top: 30px;

          a {
            font-size: 1.6rem;
            line-height: 1.66;
          }
        }

        @include maxW(1024px) {
          bottom: 20px;

          h2.title {
            font-size: 3.2rem;
            letter-spacing: -1.28px;
          }

          p.desc {
            margin-top: 17px;
            font-size: 1.4rem;
            letter-spacing: -0.28px;
          }

          .link {
            margin-top: 17px;

            a {
              font-size: 1.4rem;
              font-size: 1.68;
            }
          }
        }
      }

      &_scrolldown {
        position: absolute;
        right: 49px;
        bottom: 48px;
        z-index: 2;

        .line {
          display: block;
          height: 60px;
          width: 2px;
          background-color: rgb(255 255 255 / 0.3);
          text-align: center;
          position: relative;
          overflow: hidden;
          margin: 0 auto;

          span {
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 100%;
            height: 0%;
            animation: 4s infinite scroll-down-vertical;
            background-color: $white-cl;
          }
        }

        @include maxW(1024px) {
          right: 21px;
          bottom: 25px;

          .line {
            height: 45px;
          }
        }
      }
    }

    &_search {
      p.keyword {
        font-family: var(--hira-fonts);
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -0.4px;
        line-height: 1.6;
      }

      @include maxW(1024px) {
        p.keyword {
          font-size: 1.6rem;
          line-height: 1.75;
          letter-spacing: -0.32px;
        }
      }
    }

    &_filter {
      &_list {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 10px;

        @include maxW(1024px) {
          gap: 10px;
          margin-top: 5px;
        }
      }

      &_items {
        width: fit-content;
        cursor: pointer;

        a {
          font-size: 1.6rem;
          display: flex;
          align-items: center;
          gap: 8px;
          pointer-events: none;
        }

        &.is-active {
          padding: 4px;
          background-color: $black-cl;
          color: $white-cl;

          span.close {
            display: block;
          }
        }

        span.close {
          width: 8px;
          height: 8px;
          display: none;
          position: relative;

          &:after,
          &:before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            background-color: $white-cl;
          }

          &:before {
            width: 8px;
            height: 1px;
          }

          &:after {
            height: 8px;
            width: 1px;
          }
        }

        @include maxW(1024px) {
          margin-bottom: 7px;
          a {
            font-size: 1.4rem;
          }
        }
      }

      &_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
      }

      &_clear {
        font-size: 1.6rem;
        width: fit-content;
      }
    }

    &_popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      padding: 50px 45px;
      transition: all 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      display: flex;
      justify-content: center;
      overflow: auto;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }

      @include maxW(1024px) {
        padding: 0;
      }

      &_inner {
        width: 83%;
        height: max-content;
        background-color: #f7f5ef;
        border-radius: 2px;
        padding: 42px 50px;

        @include maxW(1024px) {
          width: 100%;
          height: 100%;
          overflow: auto;
          padding: 28px 22px 50px;
        }
      }

      &_btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;

        padding-top: 23px;
        border-top: 1px solid $black-cl;

        p {
          font-size: 1.6rem;
          line-height: 1.66;
        }

        .arrow {
          display: none;
          transition: transform 0.4s linear;
        }

        &.open {
          .arrow {
            transform: rotate(180deg);
          }
        }

        @include maxW(1024px) {
          padding-top: 17px;
          padding-right: 12px;
          pointer-events: auto;

          p {
            font-size: 1.4rem;
            line-height: 1.68;
          }

          .arrow {
            display: block;
          }
        }
      }

      &_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 24px;

        h2 {
          font-size: 2rem;
          font-weight: 500;
        }

        @include maxW(1024px) {
          padding-right: 5px;
          h2 {
            font-size: 1.6rem;
          }
        }
      }

      &_list {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 42px 28px;

        @include maxW(1024px) {
          margin-top: 47px;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
      }

      &_items {
        @include maxW(1024px) {
          position: relative;
        }
      }

      &_content {
        ul {
          margin-top: 22px;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 8px;
        }

        @include maxW(1024px) {
          max-height: 0;
          overflow: hidden;
          transition: all 0.5s ease-in-out;

          ul {
            margin-top: 17px;
            gap: 0;

            &.default {
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }
      }

      &_col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }

      &_bottom {
        margin-top: 68px;
        display: flex;
        gap: 20px;
        justify-content: flex-end;

        a,
        button {
          width: 230px;
          height: 60px;
          border: 1px solid $black-cl;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;

          &.search {
            background-color: $black-cl;
            color: $white-cl;
          }
        }

        @include maxW(1024px) {
          flex-direction: column;
          gap: 15px;
          margin-top: 50px;

          a,
          button {
            width: 100%;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

.c-filter {
  position: fixed;
  right: 27px;
  bottom: 27px;
  z-index: 100;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: $black-cl;
  color: $white-cl;
  border-radius: 50%;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    opacity: 0.8;
  }

  @include maxW(1024px) {
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    font-size: 1.1rem;

    svg {
      width: 24px;
      height: auto;
    }
  }
}
